/* font-family: 'Nunito', sans-serif;
font-family: 'Pixelify Sans', cursive;
*/
html {
    font-family: 'Nunito', sans-serif;
}

header {
    height: 75px;
    background-color: aqua;
    width: 100vw;
    color: black;
    display: flex;
    align-items: center;

}

.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.undefinedtext {
    color: greenyellow
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 500px;
    font-weight: 600;

}

.social {
    display: flex;
    width: 60px;
    justify-content: space-between;
}

.yt__icon {
    width: 25px;
    height: 25px;
}

.tg__icon {
    width: 25px;
    height: 25px;
}

footer {
    height: 250px;
    width: 100vw;
    background-color: rgb(14, 14, 14);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.tgiconhref {
    color: white;
    font-size: 10px;
    text-decoration: none;

}

.yticonhref {
    color: white;
    font-size: 10px;
    text-decoration: none;

}

a {
    text-decoration: none;
}

.iconhrefs {
    display: flex;
    flex-direction: column;

}

.section1 {
    height: 600px;
    background-color: black;
    color: white;
    display: flex;



}

.game_title1 {
    height: 25vw;
}

.ruslanghref {
    color: black;
}

.englanghref {
    color: black;
}

.leftside1 {
    padding-left: 50px;


}

.allrighttext {
    font-size: 15px;
    color: white;
}

.section2 {
    height: 700px;
    color: white;
}

.rightside1 {
    display: flex;
    /*
    align-items: center;
    */
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;

}

.undefinedtext {
    color: greenyellow;
}